<!-- starter-kit\src\app\main\sample\pages\dashboa\dashboard.component.html -->

<div class="row mt-3">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Guests</h5>
        <p class="card-text">{{ guestCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Users</h5>
        <p class="card-text">{{ userCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Agencies</h5>
        <p class="card-text">{{ agencyCount }}</p>
      </div>
    </div>
  </div>
</div>
